
h1{
    text-align: center;
}

div{
    background-color: bisque;
    width: 600px;
}
video{
    width: 500px;
    padding: 40px;
}
button{
    margin: 7px;
}
svg{
    border: 2px solid palevioletred;
    width: 400px;
    height: 400px;
}
svg g circle{
    z-index: 9999;
}