<div class="card">
  <img
    src="https://media.istockphoto.com/id/1291650092/photo/serum-for-the-skin-of-the-face-anti-aging-cosmetic-care-copy-space.jpg?s=612x612&w=0&k=20&c=2lG_9ltpJDcEvLlOAX0jv1VmekfSvoW8QdU7ET6BaIU="
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
